## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
TODO2.txt
serial_number*
*.sqlite
*.db


Makefile
TODO2.txt.org
dummy.rb
foobar.rb
index.html
lib/t.t
lib/test.rb
oldtest/
readl.rb
schema.txt
schema1.txt
showbugs.sh
t.t
test.rb
testaf.rb
testy.rb
